<div class="container">
  <div class="card border-0 shadow">
    <img class="card-img-top" src="assets/images/home-grocerry.png" alt="Image with groccery">
    <div class="card-body p-5 text-center">
      <h2 class="py-4">Buy everything you need in one place.</h2>
      <a class="btn btn-primary w-25" [routerLink]="['/shop']">Let's shop</a>
    </div>
  </div>
  <div class="card border-0 shadow">
    <div class="card-body p-5 text-center">
      <h5 class="card-title" style="font-size: 2rem">Backet packages offers</h5>
      <div class="row pt-5">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <img class="py-3" src="assets/images/children-cart.png" alt="Card image cap" style="height: 12rem;">
              <h5 class="card-title">Cart for children</h5>
              <p class="card-text text-primary" style="font-size: 0.8rem">Currently cheapest price <span style="font-size: 1.5rem">68€/week</span></p>
            </div>
          </div>
          <button (click)="showChildrenCart()" type="button" class="btn btn-outline-primary w-100 my-4 shadow">Pick this cart</button>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <img class="py-3" src="assets/images/dog-cart.png" alt="Card image cap" style="height: 12rem;">
              <h5 class="card-title">Cart for dog</h5>
              <p class="card-text text-primary" style="font-size: 0.8rem">Currently cheapest price <span style="font-size: 1.5rem">79€/week</span></p>
            </div>
          </div>
          <button (click)="showChildrenCart()" type="button" class="btn btn-outline-primary w-100 my-4 shadow">Pick this cart</button>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <img class="py-3" src="assets/images/couples-cart.png" alt="Card image cap" style="height: 12rem;">
              <h5 class="card-title">Cart for couples</h5>
              <p class="card-text text-primary" style="font-size: 0.8rem">Currently cheapest price <span style="font-size: 1.5rem">47€/week</span></p>
            </div>
          </div>
          <button (click)="showChildrenCart()" type="button" class="btn btn-outline-primary w-100 my-4 shadow">Pick this cart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-light border-0 shadow">
    <div class="card-body p-5 row">
      <div class="col">
        <h5 class="card-title" style="font-size: 2rem">Shopping made fast and easy</h5>
        <p class="text-primary">Made for saving time and money</p>
        <ul class="list-group list-group-flush" style="width: 25rem">
          <li class="list-group-item bg-light">Save time by shopping</li>
          <li class="list-group-item bg-light">Save at least 500 per year</li>
          <li class="list-group-item bg-light">Have you food delivered without leaving the house</li>
          <li class="list-group-item bg-light">Emotional shipping is yesterday</li>
        </ul>
        <button  type="button" class="btn btn-primary w-50 my-4 shadow">Let's shop</button>
      </div>
      <div class="col">
        <img class="py-3" src="assets/images/hand-with-cart.png" alt="Card image cap" style="height: 22rem;">
      </div>
    </div>
  </div>
  <div class="card border-0 shadow">
    <div class="card-body p-5 text-center">
      <h5 class="card-title" style="font-size: 2rem">Testimonials</h5>
      <p style="font-size: 1rem" class="text-secondary">Some quotes from our happy customers</p>
      <div class="row pt-5">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <img src="assets/images/person-2.png" alt="Card image cap" style="height: 12rem;">
              <div class="pb-2">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star-50.png">
              </div>
              <p>"I love it! No more wasting more money"</p>
              <p class="text-secondary">Liisa</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <img src="assets/images/person-3.png" alt="Card image cap" style="height: 12rem;">
              <div class="pb-2">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
              </div>
              <p>"Recommend it for all pages"</p>
              <p class="text-secondary">Samuel</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <img src="assets/images/person-1.png" alt="Card image cap" style="height: 12rem;">
              <div class="pb-2">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star.png">
                <img src="assets/images/star-50.png">
              </div>
              <p>"Ordering was smooth and delivery was fast"</p>
              <p class="text-secondary">Marta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>